:root {
  --gray: #252c30;
  --white: #ffffff;
  --black: #000000; 

  --primary: #ffffff;
  --secondary: var(--black);

   --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
 }
  
 .Color {
  --primary: var(--white);
  --secondary: var(--black);
 }
  
 .No-Color {
  --primary: var(--black);
  --secondary: var(--white);
 }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28%;
  height: 60rem;
  margin: 1rem auto;
  background-color: var(--secondary); 
  align-items: center;
  color: var(--primary);
}

.h2 {
  color: var(--primary);
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  margin: 1rem auto;
  margin-top: 3rem;
}

.mommy {
  background-image:url(OOMAGES/background.webp);
  background-size:cover;
  overflow: hidden;
 }

 .button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}

.button.active {
  background-color: rgb(0, 0, 0);
  color: white;
}
  
 .heading {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 5rem;
 }
  